FluxEngine/FluxEngine.vcxproj
FluxEngine.VC.VC.opendb
FluxEngine/FluxEngine.vcxproj.filters
FluxEngine.VC.db
FluxEngine.sln
Build/
*.ipch
*.suo
*.log
*.db
.vs/
*.sln
*.vcxproj
*.filters
imgui.ini
Logs/
*.pak
FluxPak/*.txt
Doxygen/
FluxGame/Saved/
CppCheck/
*.opendb
FluxGame/FluxGame_vs2015.vcxproj.user
*.user
Old/
SourceAssets/